<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

      <a routerLink="/" class="navbar-brand">
        {{title}}
      </a>
    </div>
    <div *ngIf="getUser()">
      <ul class="nav navbar-nav" *ngIf="!isOwner()">
        <li><a style="cursor: pointer" routerLink="/client/reservations">Reservations</a></li>
        <li><a style="cursor: pointer" routerLink="/client/profile">My account</a></li>
      </ul>
      <ul class="nav navbar-nav" *ngIf="isOwner()">
          <li><a style="cursor: pointer" routerLink="/dashboard">Dashboard</a></li>
        </ul>
    </div>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
      <li class="dropdown" ngbDropdown *ngIf="!authService.getUser()">
        <a style="cursor: pointer;" class="dropdown-toggle" role="button" ngbDropdownToggle>Client
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li>
            <a routerLink="/signin" style="cursor: pointer">Sign In</a>
          </li>
          <li>
            <a routerLink="/signup" style="cursor: pointer">Register</a>
          </li>
        </ul>
      </li>

      <li class="dropdown" ngbDropdown *ngIf="!authService.getUser()">
        <a style="cursor: pointer;" class="dropdown-toggle" role="button" ngbDropdownToggle>Owner
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item">
            <a style="cursor: pointer;" routerLink="/owner_signin">Sign In</a>
          </li>
          <li class="dropdown-item">
            <a style="cursor: pointer;" routerLink="/owner_signup">Register</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="nav nav-navbar pull-right" *ngIf="getUser()">
      <button type="button" class="btn btn-default navbar-btn pull-right" (click)="onLogout()">Logout</button>
      <p class="navbar-text pull-right">Signed in as {{ getUser().firstName }}</p>
    </div>
  </div>
</nav>