<div class="container" *ngIf="restaurant; else loadingInfo">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button type="button" class="btn btn-primary" (click)="onEditClicked()">Edit</button>
    </div>
  </div>
  <div class="row">

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="image">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/0a/7b/7b/c6/restaurant-view.jpg" alt="" class="img-responsive">
      </div>
      <h2>{{ restaurant.name }}</h2>
      <p>
        <span class="label label-default">{{ restaurant.cuisine }}</span>
        <br> {{ restaurant.address.street }}
        <br> {{ restaurant.address.postalCode }} {{ restaurant.address.city}}
      </p>
      <p>{{ restaurant.description }}</p>
    </div>

    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <app-restaurant-menu [menuItems]="restaurant.menuItems"></app-restaurant-menu>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <h3>Tables</h3>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Seats</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let table of restaurant.tables">
            <td>{{ table.restaurantTableId}}</td>
            <td>{{ table.seats}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <app-reservations-pending [restaurantId]="restaurantId"></app-reservations-pending>
    </div>

  </div>

</div>
<ng-template #loadingInfo>
  <div class="container">
    <p>Loading...</p>
  </div>
</ng-template>