<div class="col-sm-3 col-md-2 sidebar">

  <div class="row-fluid">
    <img src="/assets/logo_text.png" alt="" class="img-responsive">
  </div>

  <div class="row-fluid section-title">
    <h4>Restaurants</h4>
    <button type="button" class="btn btn-success">+New</button>
  </div>

  <ul class="nav nav-sidebar">
    <li class="active">
      <a href="#">Centralny Port Lotniczy
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li>
      <a href="#">Pasta</a>
    </li>
    <li>
      <a href="#">7 misek</a>
    </li>
    <li>
      <a href="#">Patelnia na Szewskiej</a>
    </li>
  </ul>
</div>