<div class="container">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="jumbotron centered">
      <h1>Welcome to TableReserve</h1>
      <p>To start please fill up form below</p>
      <form class="form-inline" (ngSubmit)="onSearchSubmit(f)" #f="ngForm">

        <label for="people"> People</label>
        <select name="people" class="form-control" ngModel>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="6">6</option>
          <option value="8">8</option>
          <option value="10">10</option>
        </select>

        <label for="city"> City</label>
        <select name="city" class="form-control" ngModel>
          <option value="{{ city }}" *ngFor="let city of cities">{{ city }}</option>
        </select>

        <label for="date"> Date</label>
        <div class="form-group">
          <ng-datepicker [(ngModel)]="date" name="date"></ng-datepicker>
        </div>
        <select name="time" id="time" class="form-control" ngModel>
          <option value="06:00">06:00</option>
          <option value="07:00">07:00</option>
          <option value="08:00">08:00</option>
          <option value="09:00">09:00</option>
          <option value="10:00">10:00</option>
          <option value="11:00">11:00</option>
          <option value="12:00">12:00</option>
          <option value="13:00">13:00</option>
          <option value="14:00">14:00</option>
          <option value="15:00">15:00</option>
          <option value="16:00">16:00</option>
          <option value="17:00">17:00</option>
          <option value="18:00">18:00</option>
          <option value="19:00">19:00</option>
          <option value="20:00">20:00</option>
          <option value="21:00">21:00</option>
          <option value="22:00">22:00</option>
          <option value="23:00">23:00</option>
        </select>

        <label for="cuisine"> Cuisine</label>
        <select name="cuisine" class="form-control" ngModel>
          <option value="">All</option>
          <option value="{{ cuisine[0] }}" *ngFor="let cuisine of cuisines">{{ cuisine[1] }}</option>
        </select>

        <div class="btn-group">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>

      </form>
    </div>
  </div>


  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


    <div class="alert alert-info" *ngIf="!restaurants">
      To start please fill form above ...
    </div>

    <div class="alert alert-info" *ngIf="restaurants && restaurants.length == 0">
      <b>Sorry...</b>
      <p>We could not find any restaurants matching your request<br>
      Please change date or guests number and try again</p>
    </div>


    <div class="row" *ngFor="let restaurant of restaurants">
      <div class="panel panel-default">
        <div class="panel-body" style="max-height: 15rem;">
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

              <img src="#" class="img-responsive" alt="Image" src="/assets/logo.png" style="max-height: 12rem">

            </div>

            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
              <h3>{{ restaurant.name }}</h3>

              <span class="label label-info" style="margin-bottom: 10px">{{ restaurant.cuisine }}</span>
              <p>open hours {{restaurant.openHour}} - {{restaurant.closeHour}}
                <br> {{ restaurant.address.street }} </p>
            </div>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <button type="button" class="btn btn-primary center-block" style="margin-top: 4rem;" (click)="onBookRestaurantClicked(restaurant.id)">Book table</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>