<h3>New restaurant</h3>
<form [formGroup]="restaurantForm" (ngSubmit)="onSubmit()">
  <button type="submit" class="btn btn-success">
    <span class="glyphicon glyphicon-floppy-disk"></span> Save</button>

  <div class="row dashboard-content">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="dashboard-widget">
        <h4>Basic information</h4>
        <div class="dashboard-widget-body">
          <div class="form-group">
            <label for="name" class="col-sm-2">Name</label>
            <input type="text" id="name" name="name" class="form-control" formControlName="name">
            <span class="help-block" *ngIf="!restaurantForm.get('name').valid && restaurantForm.get('name').touched">Name is required</span>
          </div>
          <div class="form-group">
            <label for="cuisine" class="col-sm-2">Cuisine</label>
            <select name="cuisine" id="cuisine" class="form-control" formControlName="cuisine">
              <option *ngFor="let cuisine of cuisines" [value]="cuisine">{{cuisine}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="photo" class="col-sm-2">Photo</label>
            <input type="file" id="photo" name="photo" class="form-control" formControlName="photo">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
      <div class="dashboard-widget">
        <h4>Description</h4>
        <div class="form-group">
          <textarea name="description" formControlName="description" class="form-control" rows="3" required="required"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row dashboard-content">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="dashboard-widget">
        <h4>Contact & address</h4>
        <div class="dashboard-widget-body" formGroupName="address">
          <div class="form-group">
            <label for="phone" class="col-sm-6">Phone number</label>
            <input type="text" id="phone" name="phone" class="form-control" formControlName="phone">
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-6">Email</label>
            <input type="text" id="email" name="email" class="form-control" formControlName="email">
          </div>
          <div class="form-group">
            <label for="street" class="col-sm-6">Street</label>
            <input type="text" id="street" name="street" class="form-control" formControlName="street">
          </div>
          <div class="form-group">
            <label for="city" class="col-sm-6">City</label>
            <input type="text" id="city" name="city" class="form-control" formControlName="city">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <div class="dashboard-widget">
        <h4>Tables</h4>
        <div class="row">
          <div class="form-group col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <label for="tableId">Id</label>
            <input type="text" id="tableId" class="form-control">
          </div>
          <div class="form-group col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <label for="seats">Seats</label>
            <select name="seats" id="seats" class="form-control">
              <option value="2">2</option>
              <option value="4">4</option>
              <option value="6">6</option>
            </select>
          </div>
          <button type="button" class="btn btn-primary"> +Add</button>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>No.</th>
              <th>Id</th>
              <th>Seats</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>4</td>
              <td>
                <button type="button" class="btn btn-xs btn-block btn-warning">x</button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>4</td>
              <td>
                <button type="button" class="btn btn-xs btn-block btn-warning">x</button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>4</td>
              <td>
                <button type="button" class="btn btn-xs btn-block btn-warning">x</button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>4</td>
              <td>
                <button type="button" class="btn btn-xs btn-block btn-warning">x</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>